
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    padding: 20px;
    background-color: #dddddd;
    font-size: 1em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    header{
        background-color: #3333fa;
        color: #ffffff;
    }
}