*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.nav-bar{
    background-color: #1c1515;
    display: flex;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-inline: 20px;
    color: #8e8d8d;
}

.menu ul :first-child{
    color: #ffffff;
}

.btn{
    border: 2px solid darkgoldenrod;
    padding: 10px 20px;
    border-radius: 10px;
    color: darkgoldenrod;
    cursor: pointer;
}

.content{
    height: 100vh;
}

h1, h2, h3, h4, h5{
    display: inline-block;
    margin-top: 20px;
    font-size: 1.5em;
}