
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.nav-container{
    background-color: rgb(56, 147, 250);
}

.nav-items{
    padding: 20px;
}

li{
    display: inline;
    padding: 20px;
}

.home, .about, .contact, .blog, .login{
    color: #ffffff;
    font-size: large;
    text-decoration: none;
}

.home{
    border-style: dashed;
}

.about{
    border-style: dotted;
}

.contact{
    border-style: double;
}

.blog{
    border-style: groove;
}

.login{
    border-style: ridge;
}

a:hover{
    color: rgb(215, 215, 215);
}